<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <form action="/farms/<%=id%>/product" method="POST">
        <label for="name" >Name</label>
        <input type="text" name="name" id="name" placeholder="Name">
        <label for="price" >Price(unit)</label>
        <input type="text" name="price" id="price" placeholder="Price">
        <label for="category" >Category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
            <option value="<%=category%>"><%=category%></option>
            <% } %>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>